@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-size: cover;
  font-family: "Exo", sans-serif !important;
}

.mytext-black {
  color: #303030;
}

.mybg-primary {
  background: #084885;
}

.mytext-primary {
  color: #084885;
}

.mybg-secondary {
  background: #7cf341;
}

.mytext-secondary {
  color: #7cf341;
}

.gtext {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.d-grid-center {
  display: grid;
  place-items: center;
}

.gbg {
  background: #f1f6fe;
}

header {
  margin: 0;
  padding: 10px 0px;
  background: #fff;
  box-shadow: 1px 2px 4px rgba(8, 72, 133, 0.2);
}
header .top-logsign-btn a {
  font-size: 12px;
  border-radius: 6px !important;
  text-transform: uppercase;
  padding: 6px 20px;
}
header .top-logsign-btn a:first-child {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  color: #fff;
}
header .top-logsign-btn a:first-child:hover {
  background: #303030;
  color: #fff;
}
header .top-logsign-btn a:last-child {
  background: #e6f4fc;
  color: #084885;
}
header .top-logsign-btn a:last-child:hover {
  background: #303030;
  color: #fff;
}
@media only screen and (max-width: 767.98px) {
  header .top-logsign-btn a {
    font-size: 11px;
    padding: 6px 10px;
  }
}
header .top-search-box {
  position: relative;
}
header .top-search-box > button {
  background: #fff;
  color: #084885;
  border: none;
}
@media only screen and (max-width: 767.98px) {
  header .top-search-box > button {
    font-size: 11px;
  }
}
header .top-search-box .iner-box-search {
  z-index: 4;
  position: absolute;
  background: #e6f4fc;
  padding: 10px;
  top: 40px;
  right: 0;
  box-shadow: 1px 2px 4px rgba(48, 48, 48, 0.4);
}
header .top-search-box .iner-box-search form {
  background: #fff;
}
header .top-search-box .iner-box-search form input[type=text] {
  line-height: normal;
  background: #fff;
  border: none;
  padding: 4px 6px;
  font-size: 13px;
}
header .top-search-box .iner-box-search form button {
  background: #fff;
  color: #084885;
  border: none;
  font-size: 12px;
  padding: 4px 6px;
}
header .navbar {
  margin: 0;
  border: none;
  padding: 0;
  background: none;
}

.user-log-box {
  z-index: 4;
  position: absolute;
  background: #e6f4fc;
  padding: 10px;
  top: 40px;
  right: 0;
  min-width: 180px;
  box-shadow: 1px 2px 4px rgba(48, 48, 48, 0.4);
}
.user-log-box a {
  color: #303030;
  font-size: 14px;
  padding: 1px 4px;
}
.user-log-box a:hover {
  background: #d1eafc;
}

.notifi-box {
  z-index: 4;
  position: absolute;
  background: #e6f4fc;
  padding: 10px;
  top: 40px;
  right: 0;
  min-width: 200px;
  box-shadow: 1px 2px 4px rgba(48, 48, 48, 0.4);
}
.notifi-box a {
  color: #303030;
  font-size: 14px;
  padding: 1px 4px;
}
.notifi-box a:hover {
  background: #d1eafc;
}

.sticky {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  animation: mymove 1s ease-in-out;
}

@keyframes mymove {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}
.navbar-toggler {
  background: #084885;
}
.navbar-toggler i {
  color: #fff;
}
.navbar-toggler:focus {
  background: #41a8f3;
}
.navbar-toggler:focus i {
  color: #fff;
}

.main-nav nav ul > li > a {
  color: #303030;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.main-nav nav ul > li > a:hover {
  color: #084885 !important;
}
.main-nav nav ul > li > a:focus {
  color: #084885 !important;
}
.main-nav nav ul .active a {
  color: #084885 !important;
}

.bell-noti {
  border-left: 1px solid #084885;
  border-right: 1px solid #084885;
}
.bell-noti button {
  width: 25px;
  background: none;
  border: none;
}
.bell-noti button img {
  width: 100%;
}
.bell-noti button:after {
  position: absolute;
  content: "";
  background: #084885;
  width: 6px;
  height: 6px;
  border-radius: 100px !important;
  position: absolute;
  top: 0;
  right: 4px;
}

.main-heaing-con p {
  text-shadow: 1px 1px 1px #fff;
}

.user-pic button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}

footer {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
}

.s-icon {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 4px !important;
  text-align: center;
}
.s-icon:hover {
  background: #303030;
  color: #fff;
}

.main-img {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: -60px;
  right: -60px;
  z-index: 2;
}
@media only screen and (max-width: 767.98px) {
  .main-img {
    top: 0;
    right: -123px;
    z-index: -1;
    opacity: 0.8;
  }
}

.fullscreen {
  height: 100vh;
}
@media only screen and (max-width: 767.98px) {
  .fullscreen {
    height: auto;
  }
}
.fullscreen .overlay-box {
  height: 100vh;
}
@media only screen and (max-width: 767.98px) {
  .fullscreen .overlay-box {
    height: auto;
    padding: 100px 0;
  }
}

.main-outer-for-size {
  width: 80%;
  background: #fff;
  padding: 20px;
  box-shadow: 1px 1px 6px rgba(48, 48, 48, 0.4);
  border-radius: 10px !important;
}
@media only screen and (max-width: 767.98px) {
  .main-outer-for-size {
    width: 90%;
  }
}

.height-logo {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 20px !important;
  padding: 100px;
  top: -100px;
  bottom: -100px;
  right: 10%;
}
@media only screen and (max-width: 991.98px) {
  .height-logo {
    padding: 50px;
  }
}
@media only screen and (max-width: 767.98px) {
  .height-logo {
    left: 0;
    right: 0;
    padding: 40px;
  }
}
.height-logo .h-logo {
  width: 200px;
}
@media only screen and (max-width: 991.98px) {
  .height-logo .h-logo {
    width: 100%;
  }
}

.form-inner {
  padding: 70px 0;
}
@media only screen and (max-width: 767.98px) {
  .form-inner {
    padding-top: 140px;
  }
}

.input-border {
  border-bottom: 1px solid #999999;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 13px;
  padding: 10px;
}

.submi-btn {
  font-size: 14px;
  color: #fff;
  border-radius: 4px !important;
  padding: 10px 20px;
  text-transform: uppercase;
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  border: none;
  line-height: 14px;
}
.submi-btn:hover {
  background: #303030;
  color: #fff;
}

.post-btn {
  font-size: 14px;
  border-radius: 6px !important;
  padding: 6px 20px;
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  text-transform: uppercase;
  color: #fff;
  border: none;
}
.post-btn:hover {
  background: #303030;
  color: #fff;
}

.find-sidebar a {
  color: #303030;
  background: transparent;
}
.find-sidebar a:hover, .find-sidebar a:focus {
  background: #084885;
  color: #fff;
}

.ser-icon-box h3 {
  color: #303030;
}
.ser-icon-box > div img:first-child {
  display: block;
}
.ser-icon-box > div img:last-child {
  display: none;
}
.ser-icon-box:hover {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
}
.ser-icon-box:hover > div img:first-child {
  display: none;
}
.ser-icon-box:hover > div img:last-child {
  display: block;
}
.ser-icon-box:hover h3 {
  color: #fff;
}

.topic-img img {
  aspect-ratio: 16/9;
}
@media only screen and (max-width: 767.98px) {
  .topic-img img {
    aspect-ratio: 1;
  }
}

.topic-slider li {
  padding: 0 10px;
}

.slick-arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  background: #41a8f3;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 100px !important;
  opacity: 0.8;
}
.slick-arrow:hover {
  opacity: 1;
  background: #084885;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}

.search-box-category {
  background: #fbfbfb;
  overflow: hidden;
  border-radius: 6px !important;
  padding: 4px 8px;
}
.search-box-category input {
  width: 100%;
  background: #fbfbfb;
  border: none;
  padding: 4px 8px;
}

.fliter-compay button,
.fliter-compay a {
  border: 1px solid #cccccc;
  background: #f9f9f9;
  color: #303030;
  font-size: 12px;
  border-radius: 6px !important;
  padding: 6px 15px;
  text-transform: uppercase;
}
.fliter-compay button:hover,
.fliter-compay a:hover {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  color: #fff;
  border: 1px solid transparent;
}

.post-box {
  border: 1px solid #41a8f3;
}
.post-box .apply-btn,
.post-box .post-btn {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 700;
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.post-box .apply-btn:hover,
.post-box .post-btn:hover {
  text-decoration: none;
}

.viewmore-btn {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  color: #fff;
  font-size: 13px;
  border-radius: 4px !important;
  padding: 8px 10px;
  text-transform: uppercase;
}
.viewmore-btn:hover {
  background: #303030;
  color: #fff;
}

.block-chat {
  border-bottom: 1px solid #cccccc;
}
.block-chat:hover {
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
}

.online-ball {
  background: green;
  width: 8px;
  height: 8px;
  border-radius: 100px !important;
}

.offline-ball {
  background: red;
  width: 8px;
  height: 8px;
  border-radius: 100px !important;
}

.outer-chat-box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 345px;
}

.message-chat-label-left {
  background: #ededed;
  padding: 15px;
  border-radius: 4px !important;
  float: left;
}
.message-chat-label-left h3 {
  font-size: 13px;
  color: #303030;
}
.message-chat-label-left:after {
  position: absolute;
  content: "";
  right: 100%;
  top: 30%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #ededed;
  border-width: 10px;
  margin-top: -10px;
}

.date-time h6 {
  font-size: 13px;
  color: #303030;
}

.message-chat-label-right {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  padding: 15px;
  border-radius: 4px !important;
  float: right;
}
.message-chat-label-right h3 {
  font-size: 13px;
  color: #fff;
}
.message-chat-label-right:after {
  position: absolute;
  content: "";
  left: 100%;
  top: 30%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #0691e8;
  border-width: 10px;
  margin-top: -10px;
}

.chat-msg textarea {
  border: 1px solid #e6e6e6;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #303030;
  border-radius: 6px !important;
}
.chat-msg .send-btn-chat {
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100px !important;
  border: none;
}

.half-box-chat {
  width: 50%;
}
@media only screen and (max-width: 767.98px) {
  .half-box-chat {
    width: 100%;
  }
}

.attac-file {
  opacity: 0;
  cursor: pointer;
}

.upload-file {
  border: 2px dashed #41a8f3;
  border-radius: 40px;
  overflow: hidden;
}
.upload-file .up-files {
  width: 100%;
  position: relative;
  z-index: 3;
  opacity: 0;
  height: 300px;
}
.upload-file h3 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  translate: -50% -50%;
}

.apply-save-btn a {
  font-size: 14px;
  border-radius: 4px !important;
  text-transform: uppercase;
  padding: 8px 20px;
  background: linear-gradient(95.5deg, #146bb7 -19.18%, #00a3ff 153.27%);
  color: #fff;
}
.apply-save-btn a:hover {
  background: #303030;
  color: #fff;
}
.apply-save-btn button {
  font-size: 14px;
  border-radius: 4px !important;
  text-transform: uppercase;
  padding: 8px 20px;
  border: none;
  background: #e6f4fc;
  color: #084885;
}
.apply-save-btn button:hover {
  background: #303030;
  color: #fff;
}

.jopdes h2 {
  color: #303030;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.jopdes p {
  font-size: 14px;
  color: #303030;
}
.jopdes ul li {
  font-size: 14px;
  color: #303030;
}

.upload-profile-box .upload-btn-image input[type=file] {
  opacity: 0;
  cursor: pointer;
}
.upload-profile-box input[type=text],
.upload-profile-box input[type=email],
.upload-profile-box input[type=tel],
.upload-profile-box input[type=password] {
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  width: 100%;
}
.upload-profile-box textarea {
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  width: 100%;
}

.upload-btns button {
  background: #41a8f3;
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 6px 15px;
  border-radius: 4px !important;
}
.upload-btns button:hover {
  background: #1192f0;
  color: #fff;
}

.search-filter .fa-search {
  position: absolute;
  z-index: 3;
  top: 12px;
  left: 10px;
  color: #303030;
}

.clear-btn {
  font-size: 14px;
  border-radius: 6px !important;
  padding: 6px 20px;
  background: #cccccc;
  text-transform: uppercase;
  color: #303030;
  border: none;
}
.clear-btn:hover {
  background: #303030;
  color: #fff;
}

.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */